{% extends "base.html" %}
{% block title %}Liste des livres{% endblock %}
{% block content %}
  <a href="{% url 'new_book' %}">Ajouter un nouveau livre</a>
  <h1>Liste des livres</h1>

  {% for book in books %}
    <article>
      <h2>{{ book.title }}</h2>
      <p>Auteur : {{ book.author }}</p>
      <p>ISBN :{{ book.isbn }}</p>
      <p>Prix :{{ book.price }}</p>
      <p>Date de publication :{{ book.published_date }}</p>
      <p>Nombre d'exemplaires disponibles :{{ book.number_of_books_available }}</p>
      <p>Nombre d'exemplaires en possession :{{ book.number_of_book_possessed }}</p>
      <a href="{% url 'show_book' book.id %}">Voir le livre</a>
    </article>
  {% empty %}
    <p>Aucun livre trouvé.</p>
  {% endfor %}
{% endblock %}
