{% extends "base.html" %}
{% block title %}Enregistrer un retour{% endblock %}
{% block content %}
  <h1>Enregistrer un retour</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <p>
      {{ form.loan.label_tag }}<br>
      {{ form.loan }}<br>
      {{ form.loan.errors }}
    </p>

    <p>
      {{ form.date_returned.label_tag }}<br>
      {{ form.date_returned }}<br>
      {{ form.date_returned.errors }}
    </p>

    <p>
      {{ form.comments.label_tag }}<br>
      {{ form.comments }}<br>
      {{ form.comments.errors }}
    </p>

    <button type="submit" class="btn btn-primary">Enregistrer le retour</button>
  </form>

  <a class="btn btn-secondary" href="{% url 'index_loans' %}">Retour à la liste des prêts</a>
{% endblock %}
